{{titulo}}
<div>
  <button type='button' #alta (keyup.enter)="Alta()" (click)="Alta()">alta</button>


</div>
  <br />
  <br />
  <form #mainForm="ngForm">
    <div *ngIf="MuestraForma">

      <label>Nombre:</label>
      <input required minlength="2" type="text" id="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="marcaSeleccionada.nombre">
      <div [hidden]="nombre.valid || nombre.pristine">
        nombre required
      </div>
      <br />
      <br />

      <label>Color:</label>
      <input required minlength="4" type="text" id="color" name="color" #color="ngModel" [(ngModel)]="marcaSeleccionada.color">
      <div [hidden]="color.valid || color.pristine">
        color required
      </div>
      <br />
      <br />

      <input required type="file" id="marcaimagen" name="marcaimagen" #marcaimagen="ngModel" class="form-control" (change)="fileChange($event)" />
      <div [hidden]="marcaimagen.valid || marcaimagen.pristine">
       imagen required
      </div>
      <br />
      <br />
      <button type='button' #box [disabled]="!mainForm.form.valid" (keyup.enter)="Guardar(marcaSeleccionada)" (click)="Guardar(marcaSeleccionada)">Guardar</button>
    </div>
  </form>
<br />
<br />
<br />
<br />
<br />
<br />

<div>
  <table>
    <tr>
      <td>nombre</td>
      <td>color</td>
      <td>opciones</td>

    </tr>
    <tr *ngFor="let marca of marcas">
      <td>{{marca.nombre}}</td>
      <td>{{marca.color}}</td>
      <td>
        <button type='button' #ideditar (keyup.enter)="editar(marca)" (click)="editar(marca)">editar</button>
        <button type='button' #idbaja (keyup.enter)="baja(marca,content)" (click)="baja(marca,content)">baja</button>
      </td>

    </tr>

  </table>

</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header"style="background-color: red;">
    <h4 class="modal-title" >Baja</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Realmente deasea dar de baja está marca?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('baja')">Si</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('cancel')">No</button>

  </div>
</ng-template>

